@font-face {
    font-family: 'OronMFMedium';
    src: url('../fonts/oron-medium-webfont.eot');
    src: url('../fonts/oron-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oron-medium-webfont.woff') format('woff'),
         url('../fonts/oron-medium-webfont.ttf') format('truetype'),
         url('../fonts/oron-medium-webfont.svg#OronMFBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OronMFBold';
    src: url('../fonts/oron-bold-webfont.eot');
    src: url('../fonts/oron-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oron-bold-webfont.woff') format('woff'),
         url('../fonts/oron-bold-webfont.ttf') format('truetype'),
         url('../fonts/oron-bold-webfont.svg#OronMFBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,body,#main{
	height:100%;
}

body{
	background: #000;
    direction: rtl;
    color: #00ff00;
	margin:0;
	padding:0;
}

h1 { text-align:center; }
.hide{
	display:none !important;
}

#radar{
	width:50%;
	height:500px;
	float:left;
	position:relative;border-right: 2px solid rgba(0,255,0,0.2);
}

#cursor{
	position: absolute;
	left:0;
	top:0;
	height: 40px;
	min-width:200px;
}

#mk_name{
	font-family: 'OronMFMedium';
	display: block;
	height:38px;
	line-height:38px;
	padding:0 6px;
	text-align: center;
	border:1px solid #00ff00;
	background-color:rgba(0,205,0,0.6);
	position: absolute;
	top:0;
	left:80px;
	color:#fff;
}

#questions {width:48%; float:right;}
#questions ol {
    list-style: none;
    margin:0;
    padding:0;
    min-height: 400px;
}
li.question:first-child{
display: block;
}

li.question{
    margin:0;
    padding:0;
display: none;
width: 50%;
position: absolute;
font-family: Arial;
text-align: center;
}

.question h2{
padding: 20px;
border: 1px solid green;
width: 80%;
margin: 0 auto;
margin-top: 20px;
text-align: center;
font-size: 110%;
}

.question p{
padding: 10px;
width: 80%;
margin: 0 auto;
line-height: 120%;
font-size: 85%;
text-align: right;
}

ul#answers{
margin: auto 0;
width: 55%;
margin-top: 50px;
margin-right: 28%;
}

ul#answers li{
text-align: center;
float: right;
padding: 13px;
font-size: 120%;
border: 1px solid green;
list-style: none;
margin: 0px 10px 0px 10px;

}

ul#answers li:hover{
	background-color: white;
	color: #000;
	border: 1px solid #eee;
	}

ul#answers li:hover a{
	color: #000;
	}
	
li.button a, li.button a:hover, li.button a:active, li.button a:visited{
color: #0f0;	
}	

